body {
    background-color: #e0c097;
}

.title-text {
    color: #2d2424;
    font-family: "Raleway", sans-serif;
    font-size: 2em;
}

.MuiAccordionSummary-content {
    justify-content: center;
}
